# The directory Mix will write compiled artifacts to.
/_build/

# The directory ElixirLS stores artifacts
/.elixir_ls/

# If you run "mix test --cover", coverage assets end up here.
/cover/

# The directory Mix downloads your dependencies sources to.
/deps/

# Where third-party dependencies like ExDoc output generated docs.
/doc/

# src directory to place the Lucide svg files to convert
/priv/lucide

# Ignore .fetch files in case you like to edit your project deps locally.
/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Ignore package tarball (built via "mix hex.build").
lucide_liveview-*.tar

# Temporary files, for example, from tests.
/tmp/
